@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style:none;
    font-family: 'Poppins', sans-serif;
}

body{
    color: #ededed;
    background-color: #081b29;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

/* Header section */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
    background-color: #f8eeee;
}

.logo{
    display: inline-block;
    font-size: 1.56em;
    padding: 1.25rem 1.87em;
    font-weight: 900;
    margin-bottom: 0;
    
}

.navbar{
    background:#01101b;
    height: 6.25em;
    width: 100vw;
    padding: 0;
    display: flex;
    align-items: center;
   
}



.nav-ul{
    position: relative;
    padding: 2.5em;
    float: right;
    width: 100vw;
    top: -31.25em;
    transition: all .9s;
    background-color: #000508;
    z-index: -1;
    
    
}

.nav-ul li{
    display: block;
    text-align:center;
    margin-bottom: 0.93em;
}

.nav-ul li:hover{
    color:blue;
}

li a{
    color: #ededed;
    font-size: 1.25em;
    font-weight: 900;
}

li a:hover{
    color:rgba(146, 146, 218, 0.578);
}

.checkbtn-1{
    color: #ededed;
    font-size: 1.87em;
    float: right;
    margin-top: 0.4em;
    margin-right: 1em;
}

#check-1{
    display: none;
}

#check-1:checked ~.nav-ul{
    top:0;
    
}

#check-1:checked ~.checkbtn-1{
    display: none;
    
}

.checkbtn-2{
    color: #ededed;
    font-size: 1.87em;
    position: absolute;
    right: 1em;
    top: 1em;
    display: none;
    
    
}

#check-1:checked ~.checkbtn-2{
    display: block;
    
}

/* About section */

.home-content{
    position: relative;
    top: 12.5em;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.home-content h1{
    margin: 0 28%;
    font-size: 1.87em;
    font-weight: 900;
}


.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .3s;
    animation-duration: 6s;
}

.home-content h3{
    position: relative;
    font-size: 0.93em;
    font-weight: 700;
    color: #00abf0;
    margin-top: 1.25em;
}

.home-content p{
    position: relative;
    font-size: 1.25em;
    margin: 1.25em 0.62em;
    line-height: 1.5;
    color: rgba(237, 237, 237, 0.4);
}

.btn-box a{
    position: relative;
    top: 0.62em;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5em;
    height: 3.12em;
    background:transparent;;
    border: 2px solid #00abf0;
    border-radius: 3.12em;
    font-size: 0.75em;
    font-weight: 900;
    color: #00abf0;
    text-decoration: none;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}

.btn-box a:hover{
    color: #081b29;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}

/* Skills section  */

.skills-sec{
    position: relative;
    width:100%;
    top: 20.62em;
    left: 0;
    text-align: center;
    padding-bottom: 3.12em;
    background: linear-gradient(38.73deg, rgba(204, 0, 187, 0.15) 0%, rgba(201, 32, 184, 0) 50%), 
                linear-gradient(141.27deg, rgba(0, 70, 209, 0) 50%, rgba(0, 70, 209, 0.15) 100%);
   
}

.skills-h1{
    font-size: 1.56em;
    color: #ededed;
    font-weight: 800;

}

.skills-p{
    align-items: center;
    color: rgba(0, 172, 240, 0.532);
    margin: 1.87em 0;
}

.skills-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.87em;
}

.skillset-box{
    position: relative;
    width: 18.75em;
    height: 17.5em;
    border: 1px solid #00abf0;
    border-radius: 0.62em;
    box-shadow:0 0 0.62em #00acf03f;
   
}

.skillset-h2{
    font-size: 1.25em;
    color: #edededc0;
    padding: 1.25em;
    font-weight: 700;
}

.skills-all{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.75em;
    padding: 1.13em 1.87em;
}

.skills{
    border: 1px solid #ededed66;
    color: #ededed9d;
    font-size: 0.62em;
    min-width: 6.25em;
    border-radius: 0.62em;
    display: inline-flex;
    gap: 5px;
    align-items: center;
    padding: 0.62em 0.93em;
    
    
}


/* project section  */


.project-container{

    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    top: 120.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.project-container h1{
    margin-top: 3.12em ;
    font-size: 1.56em;
    font-weight: 800;
}

.project-container p{
    font-size: 0.93em;
    padding: 2% 5%;
    color: #edededc0;
    line-height: 1.5;
    
}


.projects{
    width: 80vw;
    height: auto;
    background-color: rgb(23, 23, 33);
    cursor: pointer;
    border-radius: 0.62em;
    padding: 1.62em 1.25em;
    display: flex;
    flex-direction: column;
    gap: 0.88em;
    position: relative;
    text-align: left;
    bottom:0 ;
    margin-bottom: 1.25em;
    transition: all .5s ease-in-out 0s;
}

.projects:hover{
    position: relative;
    bottom:0.62em;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 3.12em 4px;
   
}

.pro-img{
    width: 100%;
    height: 11.25em;
    background-color: rgb(255, 255, 255);
    border-radius: 0.62em;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 1em 2px;
}

.project-tools{
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-top: 0.25em;
}

.tool{
    font-size: 0.75em;
    font-weight: 400;
    color: rgb(133, 76, 230);
    background-color: rgba(133, 76, 230, 0.082);
    padding: 0.12em 0.5em;
    border-radius: 0.62em;
}

.project-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0px;
    padding: 0px 2px;
}

.pro-name{
    font-size: 1.25em;
    font-weight: 600;
    color: rgb(177, 178, 179);
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pro-year{
    font-size: 0.75em;
    margin-left: 2px;
    font-weight: 400;
    color: rgba(177, 178, 179, 0.5);
}

.pro-desc{
    font-weight: 400;
    color: rgba(177, 178, 179, 0.6);
    overflow: hidden;
    margin-top: 8px;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.desc-exp{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 0.62em;
}

/* Education section */


.Edu-container{
    position: relative;
    left: 0;
    width: 100%;
    top: 206.25em;
    text-align: center;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 84.37em;
    padding: 2.5em 0px;
    gap: 0.75em;
    background-image: linear-gradient(141.27deg, rgba(10, 3, 43, 0.352) 50%, rgba(20, 19, 21, 0.868) 100%);
}

.Edu-title{
    font-size: 2.63em;
    text-align: center;
    font-weight: 600;
    margin-top: 1.25em;
    color: rgb(242, 243, 244);
}

.Edu-p{
    font-size: 0.93em;
    text-align: center;
    max-width: 37.5em;
    color: rgb(177, 178, 179);

}

.Edu-blocks{
    width: 100%;
    max-width: 62.5em;
    height: 56.25em;
    margin-top: 0.62em;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 0.75em;
}

.Edu-ul{
    display: flex;
    flex-direction: column;
    padding: 0.38em 1em;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.Edu-li{
    list-style: none;
    display: flex;
    position: relative;
    min-height: 4.38em;
}

.css-68bxna {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    flex: 1 1 0%;
    text-align: left;
    padding: 0.75em 1em;
}

.fWHUzm {
    width: 80vw;
    border-radius: 0.62em;
    box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
    padding: 0.75em 1em;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    transition: all 0.3s ease-in-out 0s;
    border: 0.1px solid rgb(133, 76, 230);
}

.dDOFCY {
    width: 100%;
    display: flex;
    gap: 0.75em;
}

.DTxDp {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.PiGNh {
    font-size: 1.13em;
    font-weight: 600;
    color: rgba(242, 243, 244, 0.6);
}

.jPjfWV {
    font-size: 0.88em;
    font-weight: 500;
    color: rgba(177, 178, 179, 0.6);
}

.knDEXF {
    font-size: 0.75em;
    font-weight: 400;
    color: rgba(177, 178, 179, 0.5);
}

.jBEdPw {
    font-size: 0.88em;
    font-weight: 500;
    color: rgba(177, 178, 179, 0.6);
}

.jdCOG {
    width: 100%;
    font-size: 0.93em;
    font-weight: 400;
    color: rgba(242, 243, 244, 0.6);
    margin-bottom: 0.62em;
}

.gFUfkN {
    overflow: hidden;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.gFUfkN:hover{
    width: max-content;
    display: block;
}

.css-11tgw8h {
    display: flex;
    flex-direction: column;
    flex: 0 1 0%;
    -webkit-box-align: center;
    align-items: center;
}

.css-1d8391m {
    display: flex;
    align-self: baseline;
    border-style: solid;
    border-width: 2px;
    padding: 4px;
    border-radius: 50%;
    box-shadow: none;
    margin: 11.5px 0px;
    background-color: transparent;
    border-color: rgb(156, 39, 176);
}

.css-idv8vo {
    width: 2px;
    background-color: rgb(133, 76, 230);
    -webkit-box-flex: 1;
    flex-grow: 1;
}




/* Contact section */


.iFpXvo {
    position: absolute;
    top: 375em;
    left: 0;
    display: flex;
    background-image: linear-gradient(180deg, #081b29, #342424);
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 84.38em;
    padding: 0px 0px 5em;
    gap: 0.75em;
}

.erSJUw {
    font-size: 2.63em;
    text-align: center;
    font-weight: 600;
    margin-top: 1.25em;
    color: rgb(242, 243, 244);
}

.bLACN {
    font-size: 0.93em;
    text-align: center;
    max-width: 37.5em;
    color: rgb(177, 178, 179);
}


.gBVLBq {
    width: 95%;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(23, 23, 33);
    padding: 2em;
    border-radius: 1em;
    box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
    margin-top: 1.75em;
    gap: 0.75em;
}

.btKxwf {
    font-size: 1.5em;
    margin-bottom: 0.38em;
    font-weight: 600;
    color: rgb(242, 243, 244);
}

.cjQOSN {
    flex: 1 1 0%;
    background-color: transparent;
    border: 1px solid rgb(177, 178, 179);
    outline: none;
    font-size: 1.13em;
    color: rgb(242, 243, 244);
    border-radius: 0.75em;
    padding: 0.75em 1em;
}

.bEYzNP {
    flex: 1 1 0%;
    background-color: transparent;
    border: 1px solid rgb(177, 178, 179);
    outline: none;
    font-size: 1.13em;
    color: rgb(242, 243, 244);
    border-radius: 0.75em;
    padding: 0.75em 1em;
}

.bUEdWX {
    width: 100%;
    text-decoration: none;
    text-align: center;
    background: -webkit-linear-gradient(225deg, rgb(132, 0, 255) 0%, rgb(230, 0, 255) 100%);
    padding: 0.82em 1em;
    margin-top: 2px;
    border-radius: 0.75em;
    border: none;
    color: rgb(242, 243, 244);
    font-size: 1.13em;
    font-weight: 600;
    cursor: pointer;
}


/* footer section */

.gLYxTo {
    position: absolute;
    top: 425em;
    left: 0;
    width: 100vw;
    padding: 2rem 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.cxnhxt {
    width: 100%;
    max-width: 75em;
    display: flex;
    flex-direction: column;
    gap: 0.88em;
    -webkit-box-align: center;
    align-items: center;
    padding: 1rem;
    color: rgb(242, 243, 244);
}

.epBkAw {
    font-weight: 600;
    font-size: 1.25em;
    color: rgb(133, 76, 230);
}

.klxVPD {
    width: 100%;
    max-width: 50em;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    -webkit-box-pack: center;
    justify-content: center;
}

.dWbgwL {
    color: rgb(242, 243, 244);
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.2s ease-in-out 0s;
}

.gubhrO {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    text-align: center;
}

.home-sci{
    width: 17em;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    margin-top: 1.25em;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 1.25em;
    color: #00abf0;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    
}

.home-sci a:hover{
    color: #081b29;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color:#00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%;
}

/* Modal section */

.css-8ndowl {
    overflow-y: auto;
    z-index: 1300;
    inset: 0px;
}

.css-919eu4 {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
    z-index: -1;
}

.iKvBgK {
    position: relative;
    max-width: 80vw;
    height: 100%;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.655);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    transition: all 0.5s ease 0s;
}

.ARcNH {
    max-width: 50em;
    width: 100%;
    border-radius: 1em;
    margin: 3.13em 0.75em;
    height: min-content;
    background-color: rgb(23, 23, 33);
    color: rgb(242, 243, 244);
    padding: 1.25em;
    display: flex;
    flex-direction: column;
    position: relative;
}

.css-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    margin-left: auto;
}

.idhUWA {
    width: 100%;
    object-fit: cover;
    border-radius: 0.75em;
    margin-top: 1.87em;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0.62em 0px;
}

.dUldRZ {
    font-size: 1.75em;
    font-weight: 600;
    color: rgb(242, 243, 244);
    margin: 0.5em 0.38em 0px;
}

.iGKVuq {
    font-size: 1em;
    margin: 0.13em 0.38em;
    font-weight: 400;
    color: rgb(177, 178, 179);
}

.bGUtes {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em 0em;
}

.dgnxrK {
    font-size: 0.88em;
    font-weight: 400;
    color: rgb(133, 76, 230);
    margin: 0.25em;
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
    background-color: rgba(133, 76, 230, 0.125);
}

.bJALem {
    font-size: 1em;
    font-weight: 400;
    color: rgb(242, 243, 244);
    margin: 0.5em 0.38em;
}

.bcEbCj {
    display: flex;
    -webkit-box-pack: end;
    justify-content: center;
    margin: 0.75em 0px;
    gap: 0.75em;
}

.GZmoK {
    
    width:45%;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    padding: 0.75em 1em;
    border-radius: 0.5em;
    background-color: rgb(28, 30, 39);
    color: rgb(177, 178, 179);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}

.hsrYZy {
    width: 45%;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    color: rgb(242, 243, 244);
    padding: 0.75em 1em;
    border-radius: 0.5em;
    background-color: rgb(133, 76, 230);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}

/* KEYFRAMES ANIMATION */

@keyframes showRight{
    100%{
        width: 0;
    }
}
